<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>XHR Example</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>

        <style type="text/css">
            div {
                margin: 2rem;
            }
        </style>

        <script type="application/javascript">
            angular.module('films', [])
                    .controller('FilmController', function($scope, $http) {
                        $http.get('/characters').success(function(data) {
                            $scope.filmCharacters = data;
                        });

                        this.onChooseFilmCharacter = function(filmCharacter) {
                            $http.get('/characters?filterFilmCharacter=' + filmCharacter.id).success(function(data) {
                                $scope.filmCharacters = data;
                            });
                        };

                        this.onChooseActor = function(actor) {
                            alert("You have selected Actor '" + actor.fullName + "'");
                        }
                    });
        </script>
    </head>
    <body ng-app="films" ng-controller="FilmController as cc">
        <h1>Film chooser</h1>

        <div>
            FilmCharacter: <select ng-change="cc.onChooseFilmCharacter(filmCharacter)"
                           ng-model="filmCharacter"
                           ng-options="filmCharacter.charName for filmCharacter in filmCharacters track by filmCharacter.id"></select>
        </div>
        <div>
            Actor: <select ng-change="cc.onChooseActor(actor)"
                           ng-model="actor"
                           ng-options="actor.fullName for actor in actors track by actor.id"></select>
        </div>

    </body>
</html>